In [1]:
import requests
from bs4 import BeautifulSoup as BSoup
import pandas as pd
requests.packages.urllib3.disable_warnings()

In [2]:
from bs4 import BeautifulSoup as BSoup
import requests
import re
skill_list = []
company_list = []
experience_list = []
skill_list = []
position_list = []

with requests.Session() as s:
    for page in range(1,100):
        headers = {'User-Agent' : 'Mozilla/5.0'}
        url = 'https://www.timesjobs.com/candidate/job-search.html?from=submit&searchType=personalizedSearch&txtLocation=Cochin/%20Kochi/%20Ernakulam&luceneResultSize=25&postWeek=60&pDate=Y&sequence=' + str(page)
#         print(url)
        r = s.get(url, headers = headers)
        soup = BSoup(r.content,'html.parser')
#         print(url)
       
        tables = soup.find_all('li', {"class": "clearfix job-bx wht-shd-bx"})
#         print(tables)
        for table in tables:
           position = table.find('h2').text.split(' ',1)[1]
           company = table.find('h3', {"class": "joblist-comp-name"}).text.split(' ',1)[1].split('\r',1)[0]
           experience = table.find_all('li')[0].text.split('-',1)[1]
           skillset    =  table.find('span', {"class": "srp-skills"}).text.split(' ',1)[1]
           skills  = skillset.split('\n',1)[1]
           position_list.append(position)
           company_list.append(company)
           experience_list.append(experience)
           skill_list.append(skills)

In [3]:
df=pd.DataFrame()

In [4]:
df['Job Position']=position_list
df['Company']=company_list
df['Experience']=experience_list
df['Skills']=skill_list
df['City']='Kochi'

In [5]:
df

,Job Position,Company,Experience,Skills,City
0,Associate 1 Campus,kpmg,3 yrs,"chartered accountant , tax returns ,...",Kochi
1,UI / Front end Developer(AngularJS),Infocom Software,3 yrs,"front end developer , dreamweaver , ...",Kochi
2,AWS SOLUTION ARCHITECT,mantis hr consulting,12 yrs,"solution architect , linux , windows...",Kochi
3,TECHNICAL LEAD,mantis hr consulting,8 yrs,"rdbms , html5 , sharepoint , svn , l...",Kochi
4,FRONTEND DEVELOPER,mantis hr consulting,4 yrs,"css , html5 , bootstrap , javascript...",Kochi
...,...,...,...,...,...
1369,Farm Manager,Sankar placement,6 yrs,"Manager , assistant manager , Site S...",Kochi
1370,Flutter Mobile App Developer,BCCL - Ascent,8 yrs,"googles flutter , flutter , UX model...",Kochi
1371,Fullstack - PHP Developer,BCCL - Ascent,8 yrs,"Php , laravel , RESTful , API , Vue....",Kochi
1372,Vacancies Part Time Internet | Limited Ur...,TFG Vacations India Pvt Ltd,3 yrs,"Online Advertising , Online Marketin...",Kochi
1373,"SEO Analyst,SEO Specialist,SEO Strategist",FSHDesign,10 yrs,"Search Engine Marketing , Page Ranki...",Kochi

In [7]:
from bs4 import BeautifulSoup as BSoup
import requests
import re
skill_list = []
company_list = []
experience_list = []
skill_list = []
position_list = []
city = 'bangalore'
with requests.Session() as s:
    for page in range(1,100):
        headers = {'User-Agent' : 'Mozilla/5.0'}
        url = 'https://www.timesjobs.com/candidate/job-search.html?from=submit&searchType=personalizedSearch&txtLocation=' + city +'&luceneResultSize=25&postWeek=60&pDate=Y&sequence=' + str(page)
#         print(url)
        r = s.get(url, headers = headers)
        soup = BSoup(r.content,'html.parser')
#         print(url)
       
        tables = soup.find_all('li', {"class": "clearfix job-bx wht-shd-bx"})
#         print(tables)
        for table in tables:
           position = table.find('h2').text.split(' ',1)[1]
           company = table.find('h3', {"class": "joblist-comp-name"}).text.split(' ',1)[1].split('\r',1)[0]
           experience = table.find_all('li')[0].text.split('-',1)[1]
           try:
               skillset    =  table.find('span', {"class": "srp-skills"}).text.split(' ',1)[1]
               skills  = skillset.split('\n',1)[1]
           except:
               skills = ' '
           position_list.append(position)
           company_list.append(company)
           experience_list.append(experience)
           skill_list.append(skills)

In [8]:
df2=pd.DataFrame()

In [9]:
df2['Job Position']=position_list
df2['Company']=company_list
df2['Experience']=experience_list
df2['Skills']=skill_list
df2['City']='Banglore'

In [10]:
df2

,Job Position,Company,Experience,Skills,City
0,Backend Developer (NestJS)-Immediate Join...,Perfect Publishing Solution,8 yrs,"nestjs , backend developer , api dev...",Banglore
1,Software Engineer,WELLS FARGO INDIA,12 yrs,"advanced c , qa , ui , automation te...",Banglore
2,Credit Risk Analytics Sr Assc,WELLS FARGO INDIA,8 yrs,"ksh , python , oracle , unix / linux...",Banglore
3,Credit Risk Analytics Assc,WELLS FARGO INDIA,5 yrs,"econometrics , risk management , len...",Banglore
4,Software Engineer,Wells Fargo India Solutions Pvt Ltd,12 yrs,"advanced c , qa , ui , automation te...",Banglore
...,...,...,...,...,...
2470,Principal Full stack Developer,ORACLE,10 yrs,"css , ajax , sso , java , xml , shel...",Banglore
2471,Jio Point Lead C,Reliance Jio Infocomm Limited,6 yrs,"channel expansion , retail outlets ,...",Banglore
2472,"Network Domain SME - Telecom (RAN, ORAN)",IBM India Pvt Ltd,15 yrs,"trend , sales , business sales , mar...",Banglore
2473,Accountant 2-Fin,ORACLE,5 yrs,"reports , accountant , general accou...",Banglore
2474,Package Consultant: Salesforce,IBM India Pvt Ltd,3 yrs,"css , html5 , apex , salesforce , so...",Banglore

In [11]:
from bs4 import BeautifulSoup as BSoup
import requests
import re
skill_list = []
company_list = []
experience_list = []
skill_list = []
position_list = []
city = 'chennai'
with requests.Session() as s:
    for page in range(1,100):
        headers = {'User-Agent' : 'Mozilla/5.0'}
        url = 'https://www.timesjobs.com/candidate/job-search.html?from=submit&searchType=personalizedSearch&txtLocation=' + city +'&luceneResultSize=25&postWeek=60&pDate=Y&sequence=' + str(page)
#         print(url)
        r = s.get(url, headers = headers)
        soup = BSoup(r.content,'html.parser')
#         print(url)
       
        tables = soup.find_all('li', {"class": "clearfix job-bx wht-shd-bx"})
#         print(tables)
        for table in tables:
           position = table.find('h2').text.split(' ',1)[1]
           company = table.find('h3', {"class": "joblist-comp-name"}).text.split(' ',1)[1].split('\r',1)[0]
           experience = table.find_all('li')[0].text.split('-',1)[1]
           try:
               skillset    =  table.find('span', {"class": "srp-skills"}).text.split(' ',1)[1]
               skills  = skillset.split('\n',1)[1]
           except:
               skills = ' '
           position_list.append(position)
           company_list.append(company)
           experience_list.append(experience)
           skill_list.append(skills)

In [12]:
df3=pd.DataFrame()

In [13]:
df3['Job Position']=position_list
df3['Company']=company_list
df3['Experience']=experience_list
df3['Skills']=skill_list
df3['City']='Chennai'

In [14]:
df3

,Job Position,Company,Experience,Skills,City
0,Software Engineer,WELLS FARGO INDIA,12 yrs,"advanced c , qa , ui , automation te...",Chennai
1,Credit Risk Analytics Sr Assc,WELLS FARGO INDIA,8 yrs,"ksh , python , oracle , unix / linux...",Chennai
2,Credit Risk Analytics Assc,WELLS FARGO INDIA,5 yrs,"econometrics , risk management , len...",Chennai
3,Software Engineer,Wells Fargo India Solutions Pvt Ltd,12 yrs,"advanced c , qa , ui , automation te...",Chennai
4,Credit Risk Analytics Sr Assc,Wells Fargo India Solutions Pvt Ltd,8 yrs,"ksh , python , oracle , unix / linux...",Chennai
...,...,...,...,...,...
2470,"Sales & Marketing Manager,Sales Manager,C...",Jockin Recruiters,8 yrs,"Management , Microsoft Technologies ...",Chennai
2471,"Manager ,Customer Service Representative,...",Jockin Recruiters,8 yrs,"Courier , Business , Management , Mi...",Chennai
2472,Online Promotion-Part Time,TFG Vacations India Pvt Ltd,3 yrs,"Digital marketing , Social Media Mar...",Chennai
2473,Chef Chef De Partie/Station Chef,Neipar lal,8 yrs,Willingness to Learn. ... Genuine Pa...,Chennai
2474,"Data Entry Operator,Business Analyst,Mana...",Jockin Recruiters,8 yrs,"Internet Marketing , Online Marketin...",Chennai

In [16]:
from bs4 import BeautifulSoup as BSoup
import requests
import re
skill_list = []
company_list = []
experience_list = []
skill_list = []
position_list = []
city = 'hyderabad'
with requests.Session() as s:
    for page in range(1,100):
        headers = {'User-Agent' : 'Mozilla/5.0'}
        url = 'https://www.timesjobs.com/candidate/job-search.html?from=submit&searchType=personalizedSearch&txtLocation=' + city +'&luceneResultSize=25&postWeek=60&pDate=Y&sequence=' + str(page)
#         print(url)
        r = s.get(url, headers = headers)
        soup = BSoup(r.content,'html.parser')
#         print(url)
       
        tables = soup.find_all('li', {"class": "clearfix job-bx wht-shd-bx"})
#         print(tables)
        for table in tables:
           position = table.find('h2').text.split(' ',1)[1]
           company = table.find('h3', {"class": "joblist-comp-name"}).text.split(' ',1)[1].split('\r',1)[0]
           experience = table.find_all('li')[0].text.split('-',1)[1]
           try:
               skillset    =  table.find('span', {"class": "srp-skills"}).text.split(' ',1)[1]
               skills  = skillset.split('\n',1)[1]
           except:
               skills = ' '
           position_list.append(position)
           company_list.append(company)
           experience_list.append(experience)
           skill_list.append(skills)

In [17]:
df4=pd.DataFrame()

In [18]:
df4['Job Position']=position_list
df4['Company']=company_list
df4['Experience']=experience_list
df4['Skills']=skill_list
df4['City']='Hyderabad'

In [19]:
df4

,Job Position,Company,Experience,Skills,City
0,Software Engineer,WELLS FARGO INDIA,12 yrs,"advanced c , qa , ui , automation te...",Hyderabad
1,Credit Risk Analytics Sr Assc,WELLS FARGO INDIA,8 yrs,"ksh , python , oracle , unix / linux...",Hyderabad
2,Credit Risk Analytics Assc,WELLS FARGO INDIA,5 yrs,"econometrics , risk management , len...",Hyderabad
3,Software Engineer,Wells Fargo India Solutions Pvt Ltd,12 yrs,"advanced c , qa , ui , automation te...",Hyderabad
4,Credit Risk Analytics Sr Assc,Wells Fargo India Solutions Pvt Ltd,8 yrs,"ksh , python , oracle , unix / linux...",Hyderabad
...,...,...,...,...,...
2470,Advanced Modeling Engineer,MICRON TECHNOLOGY,8 yrs,"c , virtual reality , storage , fo...",Hyderabad
2471,Head Logistics,Michael Page,18 yrs,"inbound logistics , logistics , head...",Hyderabad
2472,Territory Manager Techno Marketing,Michael Page,7 yrs,"techno marketing , sales team , terr...",Hyderabad
2473,Legal Executive,MedPlus Health Services Pvt Ltd,4 yrs,"law , legal manager , agreements , l...",Hyderabad
2474,Network System Administrator,MedPlus Health Services Pvt Ltd,2 yrs,"os , IT hardware , network , hardwar...",Hyderabad

In [21]:
df = df.append([df2,df3,df4])

In [22]:
df.to_excel("skills.xlsx", index=False)